include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include page
include scripts
include links
include /blocks/header/header
include /blocks/footer/footer
include /blocks/authorization-popup/authorization-popup
include /blocks/project-popup/project-popup

doctype html
html(lang='ru')
	include head
	+page
		+header()

		block content

		+footer()
		+authorization-popup()
		+project-popup()
	+scripts(['app.min.js'])
