@font-face
	font-family 'ProximaNova-Black'
	src url('/assets/fonts/Proxima-Nova/ProximaNova-Black.otf')
	font-weight normal
	font-style normal
@font-face
	font-family 'ProximaNova-Bold'
	src url('/assets/fonts/Proxima-Nova/ProximaNova-Bold.otf')
	font-weight bold
	font-style normal
@font-face
	font-family 'helveticaneuecyr-bold'
	src url('/assets/fonts/Special/helveticaneuecyr-bold.eot')
	src url('/assets/fonts/Special/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Special/helveticaneuecyr-bold.ttf') format('truetype'),
		url('/assets/fonts/Special/helveticaneuecyr-bold.woff') format('woff')
	font-weight bold
	font-style normal
