@font-face
	font-family 'helveticaneuecyr-bold'
	src url('../fonts/Special/helveticaneuecyr-bold.eot')
	src url('../fonts/Special/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Special/helveticaneuecyr-bold.ttf') format('truetype'),
		url('../fonts/Special/helveticaneuecyr-bold.woff') format('woff')
	font-weight bold
	font-style normal
@font-face
	font-family 'DecimaNovaPro'
	src url('../fonts/27DBDD_0_0.eot')
	src url('../fonts/27DBDD_0_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/27DBDD_0_0.woff') format('woff'),
		url('../fonts/27DBDD_0_0.ttf') format('truetype')
	font-weight bold
	font-style normal
@font-face
	font-family 'DecimaNovaPro'
	src url('../fonts/27DBDD_1_0.eot')
	src url('../fonts/27DBDD_1_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/27DBDD_1_0.woff') format('woff'),
		url('../fonts/27DBDD_1_0.ttf') format('truetype')
	font-weight normal
	font-style normal
@font-face
	font-family 'felt_tip_womanregular'
	src url('../fonts/felt_tip_woman-webfont.eot')
	src url('../fonts/felt_tip_woman-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/felt_tip_woman-webfont.woff2') format('woff2'),
		 url('../fonts/felt_tip_woman-webfont.woff') format('woff'),
		 url('../fonts/felt_tip_woman-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal
