mixin authorization-popup()
	+b.popup.js-authorization-popup
		+e.A.wrapper.js-close-authorization
		+e.content.__authorization-content
			+b.BUTTON.popup-close.js-close-authorization
			+b.authorization-header
				+e.title Авторизируйтесь
			+b.FORM.contacts-form.authorization-form(method='post', action='')
				+e.FIELDSET.item.authorization-item
					+b.LABEL.contacts-label Логин
					+b.INPUT.contacts-input(name="login", type="text", placeholder="Логин", required)
				+e.FIELDSET.item.authorization-item
					+b.LABEL.contacts-label Пароль
					+b.INPUT.contacts-input(name="password", type="password", placeholder="Пароль", required)
				+e.FIELDSET.item.authorization-item
					+b.BUTTON.contacts-button.js-button-authorization
						+e.SPAN.text Отправить
