import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

*
	margin 0
	padding 0
html
	height 100%
	width 100%
body
	background-color #ebebeb
	background-size cover
	box-sizing border-box
	color #4a545d
	display table
	font-family 'DecimaNovaPro', sans-serif
	height 100%
	margin 0
	min-width 300px
	padding 0
	position relative
	width 100%
li
	list-style none

a
	text-decoration none
.clearfix:after
	clear both
	content ' '
	display block
	height 0
	visibility hidden
