/*---Styles for content of main-page----*/
.main-content
	background url('../images/background.png') repeat 0 0
	/*background linear-gradient(45deg, #EECFBA, #C5DDE8)*/
	display table-row
	font-size 18px
	height 100%
	line-height 18px
	z-index 11
	&__wrapper
		display flex
		margin-left auto
		margin-right auto
		max-width 1024px
		padding-bottom 35px
		padding-top 35px
		position relative
		width 100%
		@media only screen and (max-width: 1024px)
			width 95%
			flex-direction column
		@media only screen and (max-width: 768px)
			width 93%
			flex-direction column-reverse
		@media only screen and (max-width: 480px)
			padding-bottom 20px
			padding-top 20px
		.sidebar
			margin-right 4%
			width 26%
			@media only screen and (max-width: 1024px)
				margin-right 0
				width 100%
			@media only screen and (max-width: 768px)
				flex-direction column-reverse
				align-items flex-end
			@media only screen and (max-width: 480px)
				margin-bottom 25px
		.content-page
			width 70%
			@media only screen and (max-width: 1024px)
				width 100%
			@media only screen and (max-width: 768px)
				margin-bottom 25px
		.content-icons
			display none
			justify-content center
			min-height 60px
			@media only screen and (max-width: 480px)
				display flex
		.cat
			position absolute
			bottom 10px
			left 20px
			display inline-block
			width 140px
			height 200px
			z-index 11
			@media only screen and (max-width: 768px)
				display none
/*---Styles elements for block of about-me----*/
.sidebar
	&__navigation
		display inline-block
		border-radius 5px
		overflow hidden
		background radial-gradient(circle farthest-corner at 100px 50px, #fff, #dff7ec)
		margin-bottom 25px
		box-shadow 1px 3px 5px rgba(0, 0, 0, .3), -1px -1px 5px rgba(0, 0, 0, .3)
		@media only screen and (max-width: 1024px)
			width 49%
			margin-right 5%
		@media only screen and (max-width: 768px)
			display none
			background-color #fbfcfd
			box-shadow .6px 2.9px 8.5px .5px rgba(13, 16, 7, .35)
			width 238px
			margin-right 0
			position absolute
			top -26px
			right -26px
			z-index 11
		@media only screen and (max-width: 480px)
			left 0
			right 0
			top 0
			width 100%
			text-align center
		.navigation-menu
			z-index 111
	&__address
		margin-bottom 25px
		box-shadow 3px 3px 25px rgba(0, 0, 0, .3)
		display inline-block
		vertical-align top
		border-radius 5px
		overflow hidden
		@media only screen and (max-width: 1024px)
			width 45%
		@media only screen and (max-width: 768px)
			width 100%
			margin-bottom 0
		.address-list
			width 100%
			@media only screen and (max-width: 768px)
				display flex
			@media only screen and (max-width: 640px)
				flex-direction column
/*---Styles elements for navigation-menu----*/
.navigation-menu
	&:before
		content none
		@media only screen and (max-width: 768px)
			content ''
			position absolute
			right 26px
			top -24px
			border 12px solid transparent
			border-bottom 12px solid #3ba8c0
		@media only screen and (max-width: 480px)
			content none
	&__item
		cursor pointer
		display inline-block
		line-height 73px
		padding-left 10px
		padding-right 10px
		position relative
		width 100%
		@media only screen and (max-width: 480px)
			line-height 41px
		&.active
			background-color #3ba8c0
			cursor default
			.item-link
				color #fff
			&:hover .item-link
				color #fff
/*---Styles elements for address-list----*/
.address-list
	&__item
		cursor pointer
		display inline-block
		line-height 40px
		padding-left 20px
		padding-right 10px
		width 100%
		@media only screen and (max-width: 768px)
			&:after
				content none
		@media only screen and (max-width: 640px)
			text-align center
			padding-left 10px
			&:after
				content ''
		&:last-child
			&:after
				content none
	&__main-item
		background-color #3ba8c0
		color #fff
		@media only screen and (max-width: 768px)
			display none
	&__mail-item
		background-color #41b9d4
		.address-link__inner:before
			background url('../images/mail.png') no-repeat center
	&__phone-item
		background-color #48cbe8
		.address-link__inner:before
			background url('../images/phone.png') no-repeat center
	&__skype-item
		background-color #51daf8
		.address-link__inner:before
			background url('../images/skype.png') no-repeat center
/*---Styles elements for items of content-menu----*/
.navigation-menu__item
	&:after
		width 100%
		height 2px
		position absolute
		left 0
		bottom 0
		content ''
		background-color #1c667a
		background-image linear-gradient(to right, rgba(28, 102, 122, .9) 0, rgba(246, 250, 254, .9) 0, rgba(216, 216, 216, .9) 0, rgba(242, 246, 250, .9) 0, rgba(28, 102, 122, .9) 48%, rgba(242, 246, 250, .9) 100%)
	&:last-child:after
		content none
	.item-link
		color #959aa8
		display inline-block
		padding-left 10px
		padding-right 10px
		width 100%
		&__inner
			display inline-block
			line-height 18px
			vertical-align middle
			@media only screen and (max-width: 480px)
				font-size 24px
				line-height 24px
	&:hover
		.item-link
			color #3ba8c0
/*---Styles elements for items of address-list----*/
.address-list__item
	cursor pointer
	display inline-block
	line-height 40px
	padding-left 20px
	padding-right 10px
	width 100%
	position relative
	@media only screen and (max-width: 640px)
		text-align center
		padding-left 10px
	&:after
		width 100%
		height 2px
		position absolute
		left 0
		bottom 0
		content ''
		background-image linear-gradient(to right, rgba(211, 212, 218, 0), rgba(211, 212, 218, .8) 40%, rgba(211, 212, 218, .8) 60%, rgba(211, 212, 218, 0));
	.address-link
		color #fff
		display inline-block
		padding-left 10px
		width 100%
		@media only screen and (max-width: 1024px)
			padding-left 25px
		@media only screen and (max-width: 768px)
			padding-left 0
		&__inner
			display inline-block
			font-size 16px
			line-height 16px
			padding-left 35px
			position relative
			vertical-align middle
			&:before
				content ''
				height 20px
				left 0
				top -3px
				position absolute
				width 21px
		&:hover
			.address-link__inner
				text-decoration underline
/*---Styles elements for block of content-page----*/
.content-page
	.main-info
		display none
		&__block
			/*background-color #eff3f7*/
			background radial-gradient(circle farthest-corner at 100px 50px, #fff, #dff7ec)
			border-radius 5px
			margin-bottom 25px
			padding 25px
			width 100%
			box-shadow 1px 3px 5px rgba(0, 0, 0, .3), -1px -1px 5px rgba(0, 0, 0, .3)
			overflow hidden
			@media only screen and (max-width: 480px)
				padding 15px
			&:last-child
				margin-bottom 0
		.contects-header
			background-color #48cbe8
			box-shadow 1px 3px 5px rgba(0, 0, 0, .3), -1px -1px 5px rgba(0, 0, 0, .3)
			line-height 118px
			width 100%
			border-bottom 17px solid #67dffa
			text-align center
			padding 10px
			&__title
				display inline-block
				vertical-align middle
				line-height 30px
				font-size 27px
				color #fff
		&.active
			display block
/*---Styles elements for block of sidebar----*/
.main-info__block
	.info-title
		border-bottom 2px solid #3ba8c0
		color #3ba8c0
		display inline-block
		font-size 27px
		line-height 30px
		padding-bottom 20px
		position relative
		@media only screen and (max-width: 480px)
			font-size 24px
			border-bottom none
			display block
			text-align center
	.content-info
		display flex
		padding-left 30px
		padding-right 30px
		padding-top 25px
		@media only screen and (max-width: 768px)
			padding-left 0
			padding-right 0
			flex-direction column
		@media only screen and (max-width: 480px)
			padding-top 0
		&__avatarka
			background url('../images/face.jpg') no-repeat center
			background-size cover
			border 2px solid #3ba8c0
			border-radius 50%
			height 148px
			margin-right 25px
			margin-top 10px
			max-width 148px
			width 100%
			@media only screen and (max-width: 1024px)
				height 200px
				max-width 200px
				margin-right 40px
			@media only screen and (max-width: 768px)
				margin-right auto
				margin-left auto
				margin-top 0
				margin-bottom 30px
			@media only screen and (max-width: 320px)
				height 130px
				max-width 130px
		.info-item
			font-size 16px
			line-height 25px
			padding-bottom 10px
			@media only screen and (max-width: 480px)
				text-align center
				font-size 19px
		.experience-list
			&__item
				font-size 15px
				padding-bottom 24px
				padding-left 70px
				position relative
				@media only screen and (max-width: 480px)
					padding-left 55px
				&:before
					background-color #3ba8c0
					content ''
					height 34px
					left 0
					position absolute
					top 0
					width 41px
				&:last-child
					padding-bottom 0
				.experience-title
					font-size 18px
					line-height 25px
			&__work:before
				background url('../images/work.png') no-repeat center
			&__education:before
				background url('../images/education.png') no-repeat center
			&__courses:before
				background url('../images/courses.png') no-repeat center
			&__checkmark:before
				background url('../images/galochka.png') no-repeat center
				background-size contain
		&__portfolio-list
			display flex
			flex-wrap wrap
			width 100%
			@media only screen and (max-width: 768px)
				justify-content space-around
			@media only screen and (max-width: 480px)
				flex-direction column
				align-items center
			.portfolio-item
				width 27%
				max-width 183px
				margin-bottom 45px
				text-align center
				margin-right 9%
				@media only screen and (max-width: 1024px)
					max-width 228px
					margin-right 8%
				@media only screen and (max-width: 768px)
					width 47%
					margin-right 0
				@media only screen and (max-width: 480px)
					width 100%
					max-width 209px
				&:nth-child(3n)
					margin-right 0
				&:nth-last-child(3)
					margin-bottom 0
					@media only screen and (max-width: 768px)
						margin-bottom 45px
				&:nth-last-child(2)
					margin-bottom 0
					@media only screen and (max-width: 480px)
						margin-bottom 45px
				&:last-child
					margin-bottom 0
		.contacts-form
			display flex
			flex-wrap wrap
			justify-content space-between
			width 100%
		.lever-list
			.experience-list__item
				padding-bottom 10px
			.experience-title
				line-height 35px
/*---Styles elements for block of info-item----*/
.info-item
	&__important
		color #4a545d
		font-size 17px
		font-weight 700
		padding-right 10px
		vertical-align top
		float left
		@media only screen and (max-width: 480px)
			display block
			font-size 19px
			float none
	&__value
		float left
		max-width 250px
		overflow hidden
		@media only screen and (max-width: 480px)
			display block
			float none
			max-width none
	.skills
		display inline-block
		width 50%
		@media only screen and (max-width: 640px)
			width 60%
		@media only screen and (max-width: 480px)
			width 80%
			text-align left
		&__item
			background-image linear-gradient(to top, #2e8ca2 0, #2e8ca2 52%, #3ba8c0 53%, #3ba8c0 100%)
			border-radius 5px
			color #fff
			display inline-block
			font-size 14px
			font-weight 700
			line-height 20px
			margin-bottom 5px
			margin-right 5px
			padding-left 15px
			padding-right 15px
			@media only screen and (max-width: 768px)
				padding-left 8px
				padding-right 8px
			&:last-child
				margin-right 0
/*---Styles elements for items of portfolio----*/
.portfolio-item
	&__image
		display block
		height 129px
		margin-bottom 12px
		border 2px solid #3ba8c0
		border-radius 4px
		line-height 129px
		position relative
		@media only screen and (max-width: 1024px)
			line-height 160px
			height 160px
		@media only screen and (max-width: 480px)
			line-height 147px
			height 147px
		.image-name
			display none
			border 2.5px solid #eff3f7
			border-radius 4px
			color #eff3f7
			font-size 12px
			line-height 20px
			vertical-align middle
			padding 0 10px
			z-index 11
			position relative
		&:hover
			&:before
				content ''
				position absolute
				top 0
				bottom 0
				left 0
				right 0
				background rgba(1, 108, 164, .75)
			.image-name
				display inline-block
				animation image-name 3s alternate infinite
	&__fiatogroup
		background url('../images/fiatogroup.png') no-repeat center
		background-size cover
	&__smsfinance
		background url('../images/smsfinance.png') no-repeat center
		background-size cover
	&__bkfon
		background url('../images/bkfon.png') no-repeat center
		background-size cover
	&__bestar
		background url('../images/beStar.png') no-repeat center
		background-size cover
	&__jwood
		background url('../images/jwood.png') no-repeat center
		background-size cover
	&__top3
		background url('../images/top3.png') no-repeat center
		background-size cover
	&__my-resume
		background url('../images/portfolio.png') no-repeat center
		background-size cover
	&__cat
		background url('../images/cat.png') no-repeat center
		background-size cover
	&__veeam
		background url('../images/veeam.png') no-repeat center
		background-size cover
	&__new-project
		background url('../images/new-projects.png') no-repeat center
		background-size contain
		border none
		cursor pointer
		&:hover:before
			content none
	&__link
		color #3ba8c0
		font-size 13px
		font-style italic
		margin-bottom 10px
		display block
		word-wrap break-word
		@media only screen and (max-width: 1024px)
			font-size 17px
			line-height 22px
		@media only screen and (max-width: 480px)
			font-size 15px
	&__preview
		font-size 14px
		@media only screen and (max-width: 1024px)
			font-size 18px
			line-height 22px
		@media only screen and (max-width: 480px)
			font-size 16px
/*---Styles elements for items of contacts-form----*/
.contacts-form
	.success-mes, .error-mes
		display block
		width 100%
	&__item
		width 45%
		margin-bottom 15px
		border none
		position relative
		.contacts-label
			display block
			color #959aa8
			line-height 22px
			text-align left
			position absolute
			pointer-events none
			top 5px
			left 10px
			font-size 16px
			opacity 0
			transition .2s ease-in-out
		.contacts-input
			background-color #fbfcfd
			border 1px solid #48cbe8
			border-radius 5px
			padding 10px
			line-height 21px
			font-size 15px
			color #48cbe8
			width 100%
			margin-top 30px
			overflow hidden
			&::-webkit-input-placeholder
				color #48cbe8
				font-size 14px
				line-height 14px
				font-family 'DecimaNovaPro', sans-serif
			&:focus::-webkit-input-placeholder
				opacity 0
		.has-error
			background-color rgba(249, 126, 118, .33)
			border 1px solid #f97e76
		.contacts-input:valid + .contacts-label
			opacity 1
			top -5px
			color #48cbe8
		.contacts-button
			padding 5px 20px
			background-color #48cbe8
			border-radius 4px
			font-size 19px
			color #fff
			border none
			position relative
			&:after
				content ''
				left 0
				top 0
				width 100%
				height 100%
				position absolute
				background #3ba8c0
				transform scaleX(0)
				transition .4s linear
				transform-origin left center
			&:hover
				&:after
					transform scaleX(1)
			&__text
				z-index 11
				position relative
		.disabled-button
			background-color #849db5
			&:hover
				&:after
					transform scaleX(0)
		&:nth-child(1), &:nth-child(2)
			@media only screen and (max-width: 480px)
				width 100%
		&:last-child
			text-align right
	&__textarea
		width 100%
		.contacts-textarea
			margin-bottom 15px
			min-height 183px
		.contacts-counter
			text-align right
			display block
			color #48cbe8
			font-size 14px
.portfolio-content
	.content-info
		padding-left 0
		padding-right 0
.contacts-title
	position relative
	padding-top 10px
	padding-bottom 10px
	&:before
		width 100%
		height 2px
		position absolute
		left 0
		top 0
		content ''
		background-image linear-gradient(to right, rgba(211, 212, 218, 0), rgba(211, 212, 218, .8) 40%, rgba(211, 212, 218, .8) 60%, rgba(211, 212, 218, 0));
	&:after
		width 100%
		height 2px
		position absolute
		left 0
		bottom 0
		content ''
		background-image linear-gradient(to right, rgba(211, 212, 218, 0), rgba(211, 212, 218, .8) 40%, rgba(211, 212, 218, .8) 60%, rgba(211, 212, 218, 0));
/*---Styles elements for cat----*/
.cat__wrapper
	position relative
	width 100%
	height 100%
	.cat-head
		position absolute
		-webkit-animation rotar-head 3s alternate infinite
		animation rotar-head 3s alternate infinite
		&__ear
			position absolute
			width 50px
			height 40px
			background #212121
			border 5px solid rgb(150, 147, 147)
			border-radius 300px 3000px
			-webkit-transform rotate(33deg)
			transform rotate(33deg)
			margin 5px 25px
			&:before
				content ''
				position absolute
				width 50px
				height 40px
				background #212121
				border 5px solid rgb(150, 147, 147)
				border-radius 3000px 300px
				-webkit-transform rotate(-66deg)
				transform rotate(-66deg)
				margin -26px 35px
		&__content
			position absolute
			width 90px
			height 80px
			border-radius 50% 50% 50% 50% / 60% 60% 40% 40%
			background rgb(150, 147, 147)
			margin 21px 30px
			animation rotar-content 3s alternate infinite
			-webkit-animation rotar-content 3s alternate infinite
	.cat-body
		position absolute
		display block
		width 60px
		height 80px
		border-radius 50% 50% 50% 50% / 60% 60% 40% 40%
		background rgb(150, 147, 147)
		margin 90px 45px
		&:before
			content ''
			display block
			width 80px
			height 55px
			border-radius 100%
			background rgb(150, 147, 147)
			margin 35px -9px
		&__legs
			position absolute
			width 35px
			height 16px
			border-radius 12px
			background rgb(150, 147, 147)
			margin -50px -14px
			&:before
				content ''
				position absolute
				width 35px
				height 16px
				border-radius 12px
				background rgb(150, 147, 147)
				margin 0 55px
	.paw-left, .paw-right
		position absolute
		display block
		width 16px
		height 60px
		border-radius 50% 50% 50% 50% / 60% 60% 40% 40%
		background rgb(150, 147, 147)
		border 1px solid #212121
	.paw-left
		margin 121px 55px
		-webkit-transform rotate(172deg)
		transform rotate(172deg)
	.paw-right
		margin 121px 77px
		-webkit-transform rotate(-172deg)
		transform rotate(-172deg)
	.cat-tail
		position absolute
		width 60px
		height 16px
		border-radius 21px
		background #212121
		margin 132px 12px
		-webkit-transform rotate(50deg)
		transform rotate(50deg)
		z-index -1
	.cat-brush
		position absolute
		width 21px
		height 21px
		border-radius 100%
		background rgb(150, 147, 147)
		-webkit-animation rotar-brush 3s alternate infinite
		animation rotar-brush 3s alternate infinite
		margin 112px 12px
/*---Styles elements for cat-head----*/
.cat-head__content
	.eyes
		margin 30px 7px
		transform rotate(9deg)
		animation rotar-eyes 1.2s alternate infinite
		position absolute
		display block
		width 30px
		height 25px
		border-radius 50% 50% 50% 50% / 60% 60% 40% 40%
		background white
		&:before
			margin -6px 46px
			transform rotate(-18deg)
			content ''
			position absolute
			display block
			width 30px
			height 25px
			border-radius 50% 50% 50% 50% / 60% 60% 40% 40%
			background white
		&__left, &__right
			position absolute
			width 25px
			height 21px
			border-radius 100px
			background black
			&:before
				content ''
				display block
				width 16px
				height 8px
				border-radius 16px 16px 0 0
				border-top 5px solid white
			&:after
				content ''
				display block
				width 12px
				height 6px
				border-radius 0 0 9px 9px
				border-bottom 5px solid gray
		&__left
			margin 1px 2px
			&:before
				transform rotate(-30deg)
				margin 3px
			&:after
				transform rotate(-30deg)
				margin -9px 9px
		&__right
			margin -5px 48px
			&:before
				transform rotate(30deg)
				margin 3px 7px
			&:after
				transform rotate(30deg)
				margin -9px 4px
	.nose
		position absolute
		width 14px
		height 9px
		border-radius 50% 50% 50% 50% / 60% 60% 40% 40%
		background #ff6666
		margin 40px 38px
		z-index 11
		&:before, &:after
			content ''
			position absolute
			width 21px
			height 21px
			border-radius 100%
			background #121212
		&:before
			margin 3px -12px
		&:after
			margin 3px 4px
	.mouth
		position absolute
		width 14px
		height 7px
		border-radius 0 0 12px 12px
		background #ff6666
		border 1px solid #333
		margin 60px 37px
		animation rotar-mouth 3s alternate infinite
	.mustache-left, .mustache-right
		position absolute
		width 43px
		height 2px
		background black
		&:before
			content ''
			position absolute
			width 33px
			height 2px
			background black
			margin 4px 5px
	.mustache-left
		margin 60px -9px
		&:before
			transform rotate(-21deg)
	.mustache-right
		margin 60px 55px
		&:before
			transform rotate(21deg)
/*---Styles keyframes for cat----*/
@keyframes rotar-head
	0%
		transform rotate(3deg)
	50%
		transform rotate(0deg)
	100%
		transform rotate(-3deg)
@keyframes rotar-content
	0%
		transform rotate(-7deg)
	50%
		transform rotate(0deg)
	100%
		transform rotate(7deg)
@keyframes rotar-eyes
	0%, 25%, 70%
		opacity 1
	45%
		opacity 0
@keyframes rotar-mouth
	0%
		transform translatey(0px)
	70%
		transform translatey(-9px)
@keyframes rotar-brush
	0%
		transform translatey(0px) translatex(0px)
	70%
		transform translatey(-5px) translatex(3px)
@keyframes image-name
	0%
		opacity 0
		transform translatey(-15px)
	20%
		opacity .8
	100%
		opacity 1
		transform translatey(0)
.qtip-default
	border none
	color #fff
	background-color #f97e76
