extends /common/templates/base.jade

block head
	- var pageTitle = 'Nastasia Igosheva';

block content
	+b.main-content.clearfix
		+e.wrapper
			+b.about-me
				+b.UL.content-menu
					+e.LI.item.active-item
						+b.A.item-link
							+e.SPAN.inner Обо мне
					+e.LI.item
						+b.A.item-link
							+e.SPAN.inner Мои работы
					+e.LI.item
						+b.A.item-link
							+e.SPAN.inner Связаться со мной
				+b.UL.contacts
					+e.LI.item.__main-item Контакты
					+e.LI.item.__mail-item
						+b.A.contacts-link(href='mailto: just_anasteziya@mail.ru')
							+e.SPAN.inner just_anasteziya@mail.ru
					+e.LI.item.__phone-item
						+b.A.contacts-link(href='tel: +7(952)183-86-94')
							+e.SPAN.inner +7-952-183-86-94
					+e.LI.item.__skype-item
						+b.A.contacts-link(href='skype:anasteziya525')
							+e.SPAN.inner anasteziya525
			+b.main-info
				+e.block
					+b.H1.info-title Основная информация
					+b.content-info
						+e.avatarka
						+e.UL.text-list
							+b.LI.info-item
								+e.SPAN.important Меня зовут:
								+e.SPAN Игошева Анастасия Михайловна
							+b.LI.info-item
								+e.SPAN.important Мой возраст:
								+e.SPAN 23 года
							+b.LI.info-item
								+e.SPAN.important Мой город:
								+e.SPAN Томск, Россия
							+b.LI.info-item
								+e.SPAN.important Гражданство:
								+e.SPAN Россия
							+b.LI.info-item
								+e.SPAN.important Моя специализация:
								+e.SPAN FRONT-END разработчик
							+b.LI.info-item
								+e.SPAN.important Ключевые навыки:
								+b.UL.skills
									+e.LI.item html5
									+e.LI.item css3
									+e.LI.item jquery
									+e.LI.item jade
									+e.LI.item styl
									+e.LI.item sass
									+e.LI.item less
									+e.LI.item gulp
									+e.LI.item git
				+e.block
					+b.H1.info-title Опыт работы
					+b.content-info
						+b.UL.experience-list
							+e.LI.item.__work
								+b.experience-title
									|ООО "ЭлеТим" - аналитик отдела инновационного развития
								+b.experience-time Август 2015 — март 2016
							+e.LI.item.__work
								+b.experience-title
									|ООО "FullStack Development" - front-end разработчик
								+b.experience-time март 2016 — октябрь 2016
				+e.block
					+b.H1.info-title Образование
					+b.content-info
						+b.UL.experience-list
							+e.LI.item.__education
								+b.experience-title
									|Высшее образование, Томский государственный университет систем управления и радиоэлектроники, Томск
								+b.experience-time Сентябрь 2010 — июль 2016
							+e.LI.item.__courses
								+b.experience-title
									|Курсы html-academy
								+b.experience-time январь 2016 — ферваль 2016
							+e.LI.item.__courses
								+b.experience-title
									|Курсы «Менеджер продаж инновационной продукции» Северского Технологического института НИЯУ МИФИ
								+b.experience-time сентябрь 2014 — декабрь 2014




