extends /common/templates/base.jade

block head
	- var pageTitle = 'Nastasia Igosheva';

block content
	+b.main-content.clearfix
		+e.wrapper
			+b.UL.content-icons.header-icons
				+b.LI.social-icon
					+e.A.inner.__vk(href="https://vk.com/justanasteziya", target="_blank")
				+b.LI.social-icon
					+e.A.inner.__fb(href="https://www.facebook.com/just.anasteziya", target="_blank")
				+b.LI.social-icon
					+e.A.inner.__github(href="https://github.com/NastasiaIva?tab=repositories", target="_blank")
			+b.about-me
				+b.UL.content-menu#content-menu
					+e.LI.item.js-item-link.active-item#about
						+b.A.item-link
							+e.SPAN.inner Обо мне
					+e.LI.item.js-item-link#works
						+b.A.item-link
							+e.SPAN.inner Мои работы
					+e.LI.item.js-item-link#contacts
						+b.A.item-link
							+e.SPAN.inner Связаться со мной
				+b.UL.contacts
					+e.LI.item.__main-item Контакты
					+e.LI.item.__mail-item
						+b.A.contacts-link(href='mailto: just_anasteziya@mail.ru')
							+e.SPAN.inner just_anasteziya@mail.ru
					+e.LI.item.__phone-item
						+b.A.contacts-link(href='tel: +7(952)183-86-94')
							+e.SPAN.inner +7-952-183-86-94
					+e.LI.item.__skype-item
						+b.A.contacts-link(href='skype:anasteziya525')
							+e.SPAN.inner anasteziya525
			+b.content-page#content-page
				+b.main-info.active-content#page-about
					+e.block
						+b.H1.info-title Основная информация
						+b.content-info
							+e.avatarka
							+e.UL.text-list
								+b.LI.info-item
									+e.SPAN.important Меня зовут:
									+e.SPAN Игошева Анастасия Михайловна
								+b.LI.info-item
									+e.SPAN.important Мой возраст:
									+e.SPAN 23 года
								+b.LI.info-item
									+e.SPAN.important Мой город:
									+e.SPAN Томск, Россия
								+b.LI.info-item
									+e.SPAN.important Гражданство:
									+e.SPAN Россия
								+b.LI.info-item
									+e.SPAN.important Моя специализация:
									+e.SPAN FRONT-END разработчик
								+b.LI.info-item
									+e.SPAN.important Ключевые навыки:
									+b.UL.skills
										+e.LI.item html5
										+e.LI.item css3
										+e.LI.item jquery
										+e.LI.item jade
										+e.LI.item styl
										+e.LI.item sass
										+e.LI.item less
										+e.LI.item gulp
										+e.LI.item git
										+e.LI.item PixelPerfect
					+e.block
						+b.H1.info-title Опыт работы
						+b.content-info
							+b.UL.experience-list
								+e.LI.item.__work
									+b.experience-title
										|ООО "ЭлеТим" - аналитик отдела инновационного развития
									+b.experience-time Август 2015 — март 2016
								+e.LI.item.__work
									+b.experience-title
										|ООО "FullStack Development" - front-end разработчик
									+b.experience-time Март 2016 — октябрь 2016
					+e.block
						+b.H1.info-title Образование
						+b.content-info
							+b.UL.experience-list
								+e.LI.item.__education
									+b.experience-title
										|Высшее образование, ТУСУР, г.Томск, специальность "Управление инновациями", квалификация "инженер-менеджер"
									+b.experience-time Сентябрь 2010 — июль 2016
								+e.LI.item.__courses
									+b.experience-title
										|Курсы html-academy
									+b.experience-time Январь 2016 — ферваль 2016
								+e.LI.item.__courses
									+b.experience-title
										|Курсы «Менеджер продаж инновационной продукции» Северского Технологического института НИЯУ МИФИ
									+b.experience-time Сентябрь 2014 — декабрь 2014
				+b.main-info.portfolio-content#page-works
					+e.block
						+b.H2.info-title Мои работы
						+b.content-info
							+e.UL.portfolio-list
								+b.LI.portfolio-item
									+e.A.image.__jwood(href='https://nastasiaiva.github.io/jwood/index.html', target="_blank")
										+b.SPAN.image-name JWOODPhotography
									+e.A.link(href='https://nastasiaiva.github.io/jwood/index.html', target="_blank") https://nastasiaiva.github.io/jwood/index.html
									+e.P.preview Портфолио фотографа Jason Wood
								+b.LI.portfolio-item
									+e.A.image.__my-resume(href='https://nastasiaiva.github.io/Resume/main-page.html', target="_blank")
										+b.SPAN.image-name My portfolio
									+e.A.link(href='https://nastasiaiva.github.io/Resume/main-page.html', target="_blank") https://nastasiaiva.github.io/Resume/main-page.html
									+e.P.preview Мое портфолио
					+e.block
						+b.H2.info-title Коммерческие проекты
						+b.content-info
							+e.UL.portfolio-list
								+b.LI.portfolio-item
									+e.A.image.__fiatogroup(href='http://fiatogroup.ru/', target="_blank")
										+b.SPAN.image-name Fiatogroup
									+e.A.link(href='http://fiatogroup.ru/', target="_blank") http://fiatogroup.ru/
									+e.P.preview Сайт аренды коммерческой недвижимости
								+b.LI.portfolio-item
									+e.A.image.__smsfinance(href='https://www.smsfinance.ru/', target="_blank")
										+b.SPAN.image-name Smsfinance
									+e.A.link(href='https://www.smsfinance.ru/', target="_blank") https://www.smsfinance.ru/
									+e.P.preview Официальный сайт компании Smsfinance
								+b.LI.portfolio-item
									+e.A.image.__bkfon(href='http://bkfon.ru/ru/', target="_blank")
										+b.SPAN.image-name Bkfon
									+e.A.link(href='http://bkfon.ru/ru/', target="_blank") http://bkfon.ru/ru/
									+e.P.preview Официальный сайт компании Bkfon
				+b.main-info#page-contacts
					+b.contects-header
						+e.H2.title.contacts-title У вас есть интересный проект? Я буду рада в нем поучаствовать!
					+e.block
						+b.content-info
							+b.FORM.contacts-form(method='post', action='')
								+e.FIELDSET.item
									+b.INPUT.contacts-input(name="name", type="text", placeholder="Как к вам обращаться", required)
									+b.LABEL.contacts-label Имя
								+e.FIELDSET.item
									+b.INPUT.contacts-input(name="email", type="text", placeholder="Куда мне писать", required)
									+b.LABEL.contacts-label Email
								+e.FIELDSET.item.__textarea
									+b.TEXTAREA.contacts-input.contacts-textarea#textarea(name="textarea", type="text", maxlength='500',  placeholder="Опишите кратко суть проекта", required)
									+b.LABEL.contacts-label Сообщение
									+b.contacts-counter
										+e.SPAN#counter
										|/500
								+e.FIELDSET.item
									+b.BUTTON.contacts-button.disabled-button
										+e.SPAN.text Очистить
								+e.FIELDSET.item
									+b.BUTTON.contacts-button
										+e.SPAN.text Отправить



