/*---Styles for container for all elements of pages----*/
.content-container
	margin-left auto
	margin-right auto
	max-width 1280px
	width 95%
/*---Styles for content of main-page----*/
.main-content
	background url('/assets/images/background.png') no-repeat 0 0
	background-size cover
	display table-row
	height 100%
	z-index 11
