extends /common/templates/base.jade

block head
	- var pageTitle = 'Nastasia Igosheva';

block content
	+b.main-content.clearfix
		+e.wrapper
			+b.UL.content-icons.header-icons
				+b.LI.social-icon
					+e.A.inner.__vk(href="https://vk.com/justanasteziya", target="_blank")
				+b.LI.social-icon
					+e.A.inner.__fb(href="https://www.facebook.com/just.anasteziya", target="_blank")
				+b.LI.social-icon
					+e.A.inner.__github(href="https://github.com/NastasiaIva?tab=repositories", target="_blank")
				+b.LI.social-icon
					+e.A.inner.__instagram(href="https://www.instagram.com/igosheva/", target="_blank")
			+b.ASIDE.sidebar
				+e.NAV.navigation#content-menu
					+b.UL.navigation-menu
						+e.LI.item.js-menu-item.active(data-class='about')
							+b.A.item-link.js-item-link
								+e.SPAN.inner Обо мне
						+e.LI.item.js-menu-item(data-class='works')
							+b.A.item-link.js-item-link
								+e.SPAN.inner Мои работы
						+e.LI.item.js-menu-item(data-class='contacts')
							+b.A.item-link.js-item-link
								+e.SPAN.inner Связаться со мной
				+e.ADDRESS.address
					+b.UL.address-list
						+e.LI.item.__main-item Контакты
						+e.LI.item.__mail-item
							+b.A.address-link(href='mailto: just_anasteziya@mail.ru')
								+e.SPAN.inner just_anasteziya@mail.ru
						+e.LI.item.__phone-item
							+b.A.address-link(href='tel: +7(952)183-86-94')
								+e.SPAN.inner +7-911-914-72-47
						+e.LI.item.__skype-item
							+b.A.address-link(href='skype:anasteziya525')
								+e.SPAN.inner anasteziya525
			+b.content-page#content-page
				+b.main-info.active.js-main-info.main-info__about
					+e.block
						+b.H1.info-title Основная информация
						+b.content-info
							+e.avatarka
							+e.UL.text-list
								+b.LI.info-item.clearfix
									+e.SPAN.important Меня зовут:
									+e.SPAN.value Игошева Анастасия Михайловна
								+b.LI.info-item.clearfix
									+e.SPAN.important Мой возраст:
									+e.SPAN.value 23 года
								+b.LI.info-item.clearfix
									+e.SPAN.important Мой город:
									+e.SPAN.value Санкт-Петербург, Россия
								+b.LI.info-item.clearfix
									+e.SPAN.important Гражданство:
									+e.SPAN.value Россия
								+b.LI.info-item.clearfix
									+e.SPAN.important Моя специализация:
									+e.SPAN.value FRONT-END разработчик
								+b.LI.info-item.clearfix
									+e.SPAN.important Ключевые навыки:
									+b.UL.skills
										+e.LI.item html5
										+e.LI.item css3
										+e.LI.item JS(jQuery)
										+e.LI.item jade(pug)
										+e.LI.item stylus
										+e.LI.item sass
										+e.LI.item less
										+e.LI.item gulp
										+e.LI.item Project Template(CSSSR)
										+e.LI.item git
										+e.LI.item Bootstrap
										+e.LI.item Semantic-ui
										+e.LI.item PixelPerfect
										+e.LI.item БЭМ/RSCSS
										+e.LI.item Media Queries
					+e.block
						+b.H1.info-title Опыт работы
						+b.content-info
							+b.UL.experience-list
								+e.LI.item.__work
									+b.experience-title
										|ООО "ЭлеТим" - аналитик отдела инновационного развития
									+b.experience-time Август 2015 — март 2016
								+e.LI.item.__work
									+b.experience-title
										|ООО "FullStack Development" - front-end разработчик
									+b.experience-time Март 2016 — октябрь 2016
					+e.block
						+b.H1.info-title Образование
						+b.content-info
							+b.UL.experience-list
								+e.LI.item.__education
									+b.experience-title
										|Высшее образование, ТУСУР, г.Томск, специальность "Управление инновациями", квалификация "инженер-менеджер"
									+b.experience-time Сентябрь 2010 — июль 2016
								+e.LI.item.__courses
									+b.experience-title
										|Курсы html-academy
									+b.experience-time Январь 2016 — ферваль 2016
								+e.LI.item.__courses
									+b.experience-title
										|Курсы «Менеджер продаж инновационной продукции» Северского Технологического института НИЯУ МИФИ
									+b.experience-time Сентябрь 2014 — декабрь 2014
					+e.block
						+b.H1.info-title Личные качества
						+b.content-info
							+b.UL.experience-list.lever-list
								+e.LI.item.__checkmark
									+b.experience-title Высокая степень ответственности,
								+e.LI.item.__checkmark
									+b.experience-title Аналитический склад ума,
								+e.LI.item.__checkmark
									+b.experience-title Здоровый перфекционизм,
								+e.LI.item.__checkmark
									+b.experience-title Обучаемость,
								+e.LI.item.__checkmark
									+b.experience-title Работоспособность,
								+e.LI.item.__checkmark
									+b.experience-title Целеустремлённость,
								+e.LI.item.__checkmark
									+b.experience-title Умение работать в команде,
								+e.LI.item.__checkmark
									+b.experience-title Коммуникабельность,
								+e.LI.item.__checkmark
									+b.experience-title Деловая этика.
				+b.main-info.js-main-info.portfolio-content.main-info__works
					+e.block
						+b.H2.info-title Мои работы
						+b.content-info
							+e.UL.portfolio-list
								+b.LI.portfolio-item
									+e.A.image.__veeam(href='https://nastasiaiva.github.io/AVAILABILITY/main-page.html', target="_blank")
										+b.SPAN.image-name Лендинг компании VEEAM
									+e.A.link(href='https://nastasiaiva.github.io/AVAILABILITY/main-page.html', target="_blank") https://nastasiaiva.github.io/AVAILABILITY/main-page.html
									+e.P.preview VEEAM
								+b.LI.portfolio-item
									+e.A.image.__top3(href='https://nastasiaiva.github.io/top3dshop/main-page.html', target="_blank")
										+b.SPAN.image-name Лендинг компании Top3dShop
									+e.A.link(href='https://nastasiaiva.github.io/top3dshop/main-page.html', target="_blank") https://nastasiaiva.github.io/top3dshop/main-page.html
									+e.P.preview Top3dShop
								+b.LI.portfolio-item
									+e.A.image.__jwood(href='https://nastasiaiva.github.io/jwood/index.html', target="_blank")
										+b.SPAN.image-name JWOODPhotography
									+e.A.link(href='https://nastasiaiva.github.io/jwood/index.html', target="_blank") https://nastasiaiva.github.io/jwood/index.html
									+e.P.preview Портфолио фотографа Jason Wood
								+b.LI.portfolio-item
									+e.A.image.__my-resume(href='https://nastasiaiva.github.io/Resume/main-page.html', target="_blank")
										+b.SPAN.image-name My portfolio
									+e.A.link(href='https://nastasiaiva.github.io/Resume/main-page.html', target="_blank") https://nastasiaiva.github.io/Resume/main-page.html
									+e.P.preview Мое портфолио
								+b.LI.portfolio-item
									+e.A.image.__cat(href='https://nastasiaiva.github.io/Animation-cat/animation-cat.html', target="_blank")
										+b.SPAN.image-name Анимация "Кот"
									+e.A.link(href='https://nastasiaiva.github.io/Animation-cat/animation-cat.html', target="_blank") https://nastasiaiva.github.io/Animation-cat/animation-cat.html
									+e.P.preview Анимация "Кот"
								//+b.LI.portfolio-item
									+e.A.image.__new-project.js-show-project
					+e.block
						+b.H2.info-title Коммерческие проекты
						+b.content-info
							+e.UL.portfolio-list
								+b.LI.portfolio-item
									+e.A.image.__fiatogroup(href='http://fiatogroup.ru/', target="_blank")
										+b.SPAN.image-name Fiatogroup
									+e.A.link(href='http://fiatogroup.ru/', target="_blank") http://fiatogroup.ru/
									+e.P.preview Сайт аренды коммерческой недвижимости
								+b.LI.portfolio-item
									+e.A.image.__smsfinance(href='http://smsfinance.fullstack-development.com/review-7.html', target="_blank")
										+b.SPAN.image-name Smsfinance
									+e.A.link(href='http://smsfinance.fullstack-development.com/review-7.html', target="_blank") https://www.smsfinance.ru/
									+e.P.preview Официальный сайт компании Smsfinance
								+b.LI.portfolio-item
									+e.A.image.__bkfon(href='http://bkfon.ru/ru/', target="_blank")
										+b.SPAN.image-name Bkfon
									+e.A.link(href='http://bkfon.ru/ru/', target="_blank") http://bkfon.ru/ru/
									+e.P.preview Официальный сайт компании Bkfon
								+b.LI.portfolio-item
									+e.A.image.__bestar(href='https://www.bestar.kz/avia/', target="_blank")
										+b.SPAN.image-name beSTAR
									+e.A.link(href='https://www.bestar.kz/avia/', target="_blank") https://www.bestar.kz/avia/
									+e.P.preview Официальный сайт компании beSTAR
								//+b.LI.portfolio-item
									+e.A.image.__new-project.js-show-project
				+b.main-info.js-main-info.main-info__contacts
					+b.contects-header
						+e.H2.title.contacts-title У вас есть интересный проект? Я буду рада в нем поучаствовать!
					+e.block
						+b.content-info
							+b.FORM.contacts-form#contact-me(method='post', action='')
								+b.success-mes
								+b.error-mes
								+e.FIELDSET.item
									+b.INPUT.contacts-input(name="name", type="text", placeholder="Как к вам обращаться", qtip-content='Вы не ввели имя', qtip-position='left')
									+b.LABEL.contacts-label Имя
								+e.FIELDSET.item
									+b.INPUT.contacts-input(name="email", type="text", placeholder="Куда мне писать", qtip-content='Вы не ввели e-mail', qtip-position='right')
									+b.LABEL.contacts-label Email
								+e.FIELDSET.item.__textarea
									+b.TEXTAREA.contacts-input.contacts-textarea#textarea(name="textarea", type="text", maxlength='500',  placeholder="Опишите кратко суть проекта", qtip-content='Вы не описали суть проекта')
									+b.LABEL.contacts-label Сообщение
									+b.contacts-counter
										+e.SPAN#counter
										|/500
								+e.FIELDSET.item
									+b.BUTTON.contacts-button.disabled-button(type='reset')
										+e.SPAN.text Очистить
								+e.FIELDSET.item
									+b.BUTTON.contacts-button(type='submit')
										+e.SPAN.text Отправить
			+b.cat
				+e.wrapper
					+b.cat-head
						+e.ear
						+e.content
							+b.eyes
								+e.left
								+e.right
							+b.nose
							+b.mouth
							+b.mustache-left
							+b.mustache-right
					+b.cat-body
						+e.legs
					+b.paw-left
					+b.paw-right
					+b.cat-tail
					+b.cat-brush


