/*--------Styles for project-popup--------*/
.popup__project-content
	max-width 390px
	background-color #eff3f7
	.project-header
		background-color #48cbe8
		border-bottom 8px solid #67dffa
		text-align left
		padding-left 10px
		padding-right 25px
		&__title
			line-height 40px
			color #fff
			vertical-align middle
			font-size 25px
	.project-form
		padding 20px
		.project-item
			margin-left auto
			margin-right auto
			width 100%
			text-align center
			.contacts-label
				opacity 1
				transition none
				font-size 16px
				position relative
				text-align left
				top 0
				left 0
			.contacts-input
				margin-top 15px
			.picture-input
				padding-right 60px
				position relative
			.picture-icon
				content ''
				position absolute
				bottom 1px
				right 1px
				width 52px
				height 41px
				background #48cbe8 url('../images/7.png') no-repeat center
			.contacts-textarea
				min-height 100px
			&:last-child
				margin-bottom 0
