mixin header()
	+b.HEADER.header
		+b.content-container
			+b.header-content
				+e.title
					+b.A.title-link(href='../main-page.html') Nastya_Iva
				+e.UL.icons
					+b.LI.social-icon
						+e.A.inner.__vk(href="https://vk.com/justanasteziya", target="_blank")
					+b.LI.social-icon
						+e.A.inner.__fb(href="https://www.facebook.com/just.anasteziya", target="_blank")
					+b.LI.social-icon
						+e.A.inner.__github(href="https://github.com/NastasiaIva?tab=repositories", target="_blank")
