mixin header()
	+b.HEADER.header
		+e.wrapper
			+b.header-title
				+e.A.link(href='https://nastasiaiva.github.io/Resume/main-page.html') Nastya_Iva ❦
			+b.UL.header-icons
				+b.LI.social-icon
					+e.A.inner.__vk(href="https://vk.com/justanasteziya", target="_blank")
				+b.LI.social-icon
					+e.A.inner.__fb(href="https://www.facebook.com/just.anasteziya", target="_blank")
				+b.LI.social-icon
					+e.A.inner.__github(href="https://github.com/NastasiaIva?tab=repositories", target="_blank")
				+b.LI.social-icon
					+e.A.inner.__instagram(href="https://www.instagram.com/igosheva/", target="_blank")
			+b.UL.header-menu#header-menu
				+e.LI.item
				+e.LI.item
				+e.LI.item
