/*---Basic styles for header of main-page----*/
.header
	position relative
	width 100%
	&:after
		background url('../images/stick.png') no-repeat 0 0
		background-size cover
		bottom 0
		content ''
		display block
		height 3px
		left 0
		position absolute
		right 0
		width 100%
		@media only screen and (max-width: 1280px)
			background-size contain
	&__wrapper
		display flex
		height 119px
		line-height 119px
		margin-left auto
		margin-right auto
		max-width 1280px
		vertical-align middle
		width 95%
		justify-content space-between
		@media only screen and (max-width: 768px)
			width 93%
		@media only screen and (max-width: 480px)
			height 55px
			line-height 55px
		.header-title
			display inline-block
			vertical-align middle
			@media only screen and (max-width: 768px)
				width 50%
			&__link
				color #58697a
				font-family 'helveticaneuecyr-bold', sans-serif
				font-size 34px
				font-weight 700
				line-height 34px
				text-transform uppercase
				vertical-align middle
				@media only screen and (max-width: 480px)
					font-size 28px
				&:hover
					color #3ba8c0
		.header-icons
			display flex
			width auto
			align-items center
			@media only screen and (max-width: 480px)
				display none
		.header-menu
			display none
			@media only screen and (max-width: 768px)
				display flex
				flex-direction column
				justify-content center
				cursor pointer
			&__item
				width 25px
				height 5px
				background-color #58697a
				margin-bottom 3px
				border-radius 2px
			&:hover, &:active, &:focus
				.header-menu__item
					background-color #3ba8c0
			.menu-active
				background-color #3ba8c0
/*---Styles for social icons----*/
.header-icons
	.social-icon
		display inline-block
		float right
		height 47px
		margin-left 25px
		width 47px
		@media only screen and (max-width: 768px)
			height 37px
			width 37px
		@media only screen and (max-width: 480px)
			height 51px
			width 51px
		&:first-child
			margin-left 0
		&__inner
			display block
			height inherit
			width 100%
		&__vk
			background url('../images/vk.png') no-repeat center
			background-size contain
			&:hover
				background url('../images/vk-hover.png') no-repeat center
				background-size contain
		&__fb
			background url('../images/facebook.png') no-repeat center
			background-size contain
			&:hover
				background url('../images/facebook-hover.png') no-repeat center
				background-size contain
		&__github
			background url('../images/gihtub.png') no-repeat center
			background-size contain
			&:hover
				background url('../images/github-hover.png') no-repeat center
				background-size contain
