/*---Basic styles for footer----*/
.footer
	position relative
	width 100%
	&:after
		background url('/assets/images/stick.png') no-repeat 0 0
		background-size cover
		top 0
		content ''
		display block
		height 3px
		left 0
		position absolute
		right 0
		width 100%
	.footer-content
		line-height 119px
		height 119px
		vertical-align middle
		display flex
		justify-content space-between
